@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --bg-main: #282c34;
  --bg-main-70: rgb(40 44 52 / 70%);
  --bg-sub: #171a1e;
  --txt-primary: #61dafb;
  --txt-secondary: #c84353;
  --txt-light: #f0f8ff;
  --gradient-primary:linear-gradient(125deg, var(--txt-primary), var(--txt-secondary));
}

body {
  margin: 0;
  font-family: Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family:  Roboto, sans-serif;
}

.bg-main{
  background-color: var(--bg-main);
}

.bg-sub{
  background-color: var(--bg-sub);
}

.section-padding{
  padding: 4rem 0;
}


.title h1,
.title h2,
.title h3,
.title h4,
.title h5,.title h6
{
  font-size: 2.5rem;
  letter-spacing: .15rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  position: relative;
}

.title h1::after,
.title h2::after,
.title h3::after,
.title h4::after,
.title h5::after,
.title h6::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background: var(--gradient-primary);

}

.description p {
  font-size: 1.2rem;
  color: var(--txt-light);
  opacity: .6;
  text-align: justify;
}

.gradient-text {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  transition: all .3s ease ;
}


.btn-default{
  background: var(--txt-primary) !important;
  border: 2px solid var(--txt-primary) !important;
  color: #282c34 !important;
  padding: .3rem 1rem !important;
  transition: all .3s ease;
}

.btn-default:hover{
  background: transparent !important;
  color: #61dafb !important;
}


.visible-xs {
  display: none;
}

.hidden-xs {
  display: block;
}

.profile .accordion{
  border: 0;
  border-radius: 0;
}
.profile .accordion-item{
  background: #ccc;
    color: #000;
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}
.profile .accordion-button{
  background: #6c757d;
    color: #fff;
}
.profile .accordion-button:focus{
  outline: none;
  box-shadow: none;
}

.profile .accordion-button:not(.collapsed){
  color: #fff;
  background-color: #6c757d;
}

.testimonials .card{
  max-width: 80%;
  margin: auto;
}
.contact ul li{
  color: #fff;
}

li::marker{
  color: #fff;
}

a{
  text-decoration: none !important;
  /* color: #fff !important; */
}

.form-input div{
  color: red;
}

.thankYou{
  letter-spacing: .15rem;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding: 2rem 0;
  }

  .border-lg-0{
    border: 2px solid var(--txt-primary);
    border-radius: 3rem 0 3rem;
  }
    .title h1,
    .title h2,
    .title h3,
    .title h4,
    .title h5,
    .title h6 {
      font-size: 2rem;
    }

  .visible-xs {
    display: block;
  }

  .hidden-xs {
    display: none;
  }
}